@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #d8d4b8;
    font-family: Montserrat, sans-serif;
}

h1 {
    font-family: Edu NSW ACT cursive, sans-serif;
    text-align: center;
    color: #4b6b06;
}

p {
    color: #214944;
    font-size: 20px;
    text-align: center;
    margin: 0 150px 0 150px;
}

.bebidas,
.pratos {
    display: inline-block;
}

.pratos {
    text-align: left;
    margin-left: 180px;
    margin-top: 50px;
}

.bebidas {
    text-align: left;
    margin-left: 280px;
    margin-top: 25px;
}

ul,
li {
    font-size: 20px;
}

h2 {
    color: #4b6b06;
}

form {
    padding: 60px;
}

fieldset{
    padding: 35px;
    text-align: center;
}

button,
input[type="submit"] {
    background-color: #94C000;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
}

button:hover,
input[type="submit"]:hover {
    background-color: rgb(192, 247, 170);
    color: red;
}

table {
    margin: 0 auto;
    /* border-collapse: separate; */
    border-spacing: 80px 15px;
}

/* img {    
   display: inline-block;
   width: 350px;
   height: 300px;
   margin: 15px;
} */
/* margin: 40px 25px 40px 25px; */

/* 
img:first-child{
    margin-left: 900px; //como mudar comente uma img?
} */ 

.container{
    width: 350px; /* largura do carrossel */
    overflow: hidden;
    margin: 50px auto; /*centro*/
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.carrossel {
    display: flex;
    animation: slide 9s infinite; /*looping*/
}

.carrossel img {
    width: 350px;
    height: 300px;
    object-fit: cover;
}

@keyframes slide {
    0%   { transform: translateX(0); }
    33%  { transform: translateX(-350px); }
    66%  { transform: translateX(-700px); }
    100% { transform: translateX(0); }
}